extends layout
block content
    div.container
        div.content
            h1 Create New User
            hr
            form.form-horizontal(action="/users/create", method="POST")
                div.form-group
                    label.col-sm-3 Name
                    input.col-sm-9.form-control(name="name", placeholder="Name")
                div.form-group
                    label.col-sm-3 Last Name
                    input.col-sm-9.form-control(name="lastname", placeholder="Last Name")
                div.form-group
                    label.col-sm-3 E-mail
                    input.col-sm-9.form-control(name="email", placeholder="E-mail")
                hr
                div.form-group
                    div.col-sm-12
                        button.btn.btn-success.pull-right(type="submit") Add User